@import '~bootstrap/scss/bootstrap.scss';
#logo1 {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin-top: 20px;
    margin-left: 20px;
}
#logo2 {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#passinput{
    margin-left: 15px;
}
#mymodal{
    padding: 4rem;
}
#loginb{
    color: white;
    float: right;
}
.modal-header{
    background: #212529;
    color: white;
}
    